.mainpage-featured
{
    background-color: #1a1a1a;

    border: 1px solid grey;

    font-weight: 600;
}

.feature-box
{
    padding-top: .5rem;
    padding-left: 1rem;
}

.gpu-pic
{
    text-align: center;
}

.gpu-pic img
{
    width: 15rem;
}

.gpu-info
{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gpu-info p 
{
    margin: 0;
}

.info
{
    font-weight: 400;
}

.gpu-price-box
{
    font-weight: 700;
    font-size: 1.25rem;

    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.add-to-cart-box
{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart-button
{
    border: none;

    background: #76b800;

    color: white;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;

    font-weight: 600;
    font-size: 1rem;
}